<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPlEQ7BcQNkYPvEelb6sHr1ZWPbiWeTrU</string>
	<key>GCM_SENDER_ID</key>
	<string>927803487470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>at.htlleonding.medtmc.PomoNotes</string>
	<key>PROJECT_ID</key>
	<string>pomonotes-30632</string>
	<key>STORAGE_BUCKET</key>
	<string>pomonotes-30632.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927803487470:ios:6bfd775c2a0b5894ecafff</string>
</dict>
</plist>